// 授权工程 A 执行文件路径中文件在本目录中的写文件权限
grant codeBase "file:///home/wylazy/workspace/javaweb/JavaSE/-" { 
//	permission java.io.FilePermission "/home/wylazy/-", "read";
 	permission java.io.FilePermission "${java.home}/jre/lib/-", "read";
 	permission java.io.FilePermission "${java.home}/lib/-", "read";
  	permission java.io.FilePermission "${user.home}/.m2/-", "read"; 
  	permission java.io.FilePermission "/home/wylazy/workspace/javaweb/j2ee/yunhai/-", "read, write, delete"; 

	permission java.lang.RuntimePermission "createSecurityManager";
	permission java.lang.RuntimePermission "setSecurityManager";
};